@using NetworkTeknikServis.BLL.Identity
@model NetworkTeknikServis.MODELS.ViewModels.ProfilePasswordViewModel
@{
    ViewBag.Title = $"{Model.UserProfileViewModel.Name} {Model.UserProfileViewModel.Surname} Profil Sayfası";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@section top
{
    <!-- animation CSS -->
    <link href="~/assets/css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/assets/css/style.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="~/assets/css/colors/default.css" id="theme" rel="stylesheet">
    <link href="~/assets/fonts/fontawesome-webfont.ttf" rel="stylesheet">
}
<div class="row">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h2 class="page-title col-md-offset-5"><span class="font-bold">Profil Sayfası</span></h2>
            </div>
        </div>
        <!-- /.row -->
        <!-- .row -->
        <div class="container">
            <div class="col-md-4 col-xs-12">
                <div class="white-box">
                    <div class="user-bg">
                        <img width="100%" alt="user" src="~/assets/plugins/images/large/img1.jpg">
                        <div class="overlay-box">
                            <div class="user-content">
                                <a href="#"><img src="@Model.UserProfileViewModel.AvatarPath" class="thumb-lg img-circle" alt="img"></a>
                                <h4 class="text-white">@Model.UserProfileViewModel.UserName</h4>
                                <h5 class="text-white">@Model.UserProfileViewModel.Email</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-xs-12">
                <div class="white-box">
                    @using (Html.BeginForm("UpdateProfile", "Account", FormMethod.Post, new { @class = "form-horizontal form-material" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(x => x.UserProfileViewModel.Id)
                        @Html.HiddenFor(x => x.UserProfileViewModel.UserName)
                        <div class="form-group">
                            @Html.LabelFor(x => x.UserProfileViewModel.Name, new { @class = "col-md-12" })
                            @Html.TextBoxFor(x => x.UserProfileViewModel.Name, new { @class = "form-control form-control-line" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.UserProfileViewModel.Surname)
                            @Html.TextBoxFor(x => x.UserProfileViewModel.Surname, new { @class = "form-control form-control-line" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.UserProfileViewModel.Email)
                            @Html.TextBoxFor(x => x.UserProfileViewModel.Email, new { @class = "form-control form-control-line", type = "email" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.UserProfileViewModel.PhoneNumber)
                            @Html.TextBoxFor(x => x.UserProfileViewModel.PhoneNumber, new { @class = "form-control form-control-line" })
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-10">
                                <button class="btn btn-primary btn-lg">Güncelle</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
</div>

@section bottom
{
    <script src="~/assets/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="~/assets/js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/assets/js/custom.min.js"></script>
}