@using NetworkTeknikServis.BLL.Identity
@using Microsoft.AspNet.Identity
<section id="header">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="~/images/edura-logo.png" alt="Edura - Multipurpose Website Template">
                </a>
            </div>
            @if (HttpContext.Current.User.IsInRole("Admin"))
            {
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin Home</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Arıza Takip</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@MembershipTools.GetNameSurname(null)</a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("UserProfile", "Account")"><i class="fa fa-shopping-cart fa-fw"></i> Profil </a></li>
                                <li><a href=@Url.Action("Logout", "Account")><i class="fa fa-sign-out"></i> Logout </a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            }
            else if (HttpContext.Current.User.IsInRole("Customer"))
            {
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Anasayfa</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ürünler</a>
                        </li>
                        <li class="dropdown">
                            <a href="@Url.Action("CreateRecord", "Customer")" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Arıza Bildir</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@MembershipTools.GetNameSurname(null)</a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("UserProfile", "Account")"><i class="fa fa-shopping-cart fa-fw"></i> Profil </a></li>
                                <li><a href=@Url.Action("GetMyRecords", "Customer")><i class="fa fa-sign-out"></i>Arıza Kayıtlarım</a></li>
                                <li><a href=@Url.Action("Logout", "Account")><i class="fa fa-sign-out"></i> Logout </a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            }
            else if (HttpContext.Current.User.IsInRole("Operator"))
            {
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="@Url.Action("Index","Operator")" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Anasayfa</a>
                        </li>
                        <li class="dropdown">
                            <a href="@Url.Action("FaultTracking","Operator",new { id = HttpContext.Current.User.Identity.GetUserId() })" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Arıza Takip</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@MembershipTools.GetNameSurname(null)</a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("UserProfile", "Account")"><i class="fa fa-shopping-cart fa-fw"></i> Profil </a></li>
                                <li><a href=@Url.Action("Logout", "Account")><i class="fa fa-sign-out"></i> Logout </a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            }
            else if (HttpContext.Current.User.IsInRole("Technician"))
            {
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="@Url.Action("Index","Technician")" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Anasayfa</a>
                        </li>
                        <li class="dropdown">
                            <a href="@Url.Action("FaultTracking","Technician",new { id = HttpContext.Current.User.Identity.GetUserId() })" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Arıza Takip</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@MembershipTools.GetNameSurname(null)</a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("UserProfile", "Account")"><i class="fa fa-shopping-cart fa-fw"></i> Profil </a></li>
                                <li><a href=@Url.Action("Logout", "Account")><i class="fa fa-sign-out"></i> Logout </a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            }
            else
            {
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User Func</a>
                            <ul class="dropdown-menu">
                                <li><a href="index-2.html">Homepage 1</a></li>
                                <li><a href="index-3.html">Homepage 2</a></li>
                                <li><a href="index-4.html">Homepage 3</a></li>
                                <li><a href="index-5.html">Homepage 4</a></li>
                                <li><a href="index-6.html">Home 5 (Full Carousel)</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@MembershipTools.GetNameSurname(null)</a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("UserProfile", "Account")"><i class="fa fa-shopping-cart fa-fw"></i> Profil </a></li>
                                <li><a href=@Url.Action("Logout", "Account")><i class="fa fa-sign-out"></i> Logout </a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            }
            <!--/.nav-collapse -->
        </div>
    </nav>
</section>

