@model NetworkTeknikServis.MODELS.ViewModels.UserProfileViewModel
@{
    ViewBag.Title = "EditUser";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@section top
{
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/assets/css/colors/default.css" id="theme" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/js/plugins/select2/select2.min.css" />
    <link rel="stylesheet" href="~/assets/js/plugins/select2/select2-bootstrap.css" />
}
<br />
<br />
<br />
<br />
<div class="row">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h2 class="page-title col-md-offset-2"><span class="font-bold">Profil Sayfası</span></h2>
            </div>
        </div>
        <!-- /.row -->
        <!-- .row -->
        <div class="container">
            <div class="col-md-4">
                <div class="white-box">
                    <div class="user-bg">
                        <a href="#"><img width="%100" src="@(string.IsNullOrEmpty(Model.AvatarPath)?"/assets/img/avatars/avatar3.jpg":Model.AvatarPath)" class="thumb-lg img-circle" alt="img"></a>
                        <div class="overlay-box">
                            <div class="user-content">
                                <h4 class="text-white">@Model.UserName</h4>
                                <h5 class="text-white">@Model.Email</h5>
                            </div>
                        </div>
                    </div>
                </div>
                
                @using (Html.BeginForm("EditUserRoles", "Admin", FormMethod.Post, new { @class = "form-horizontal form-material" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x => x.Id)
                    @Html.Label("Roles", new { @class = "col-md-12 col-md-offset-0" })
                    <div class="col-md-12">
                        @Html.DropDownList("Roles", (List<SelectListItem>)ViewBag.RoleList, new { @class = "js-select2 form-control", size = "1", multiple = "multiple" })
                    </div>
                    <br/>
                    <div class="col-md-12" style="margin-top: 20px">
                        <div class="col-md-offset-7">
                            <button class="btn btn-primary btn-lg">Rol Güncelle</button>
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-8 col-xs-12">
                <div class="white-box">
                    @using (Html.BeginForm("EditUser", "Admin", FormMethod.Post, new { @class = "form-horizontal form-material", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(x => x.Id)
                        @Html.HiddenFor(x => x.UserName)
                        <div class="form-group">
                            @Html.LabelFor(x => x.Name, new { @class = "col-md-12" })
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control form-control-line" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.Surname)
                            @Html.TextBoxFor(x => x.Surname, new { @class = "form-control form-control-line" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.Email)
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control form-control-line", type = "email" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.PhoneNumber)
                            @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control form-control-line" })
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-10">
                                <button class="btn btn-primary btn-lg">Güncelle</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
</div>

@section bottom
{
    <script src="~/assets/js/plugins/select2/select2.full.min.js"></script>
    <script src="~/assets/js/plugins/bootstrap-notify/bootstrap-notify.min.js"></script>

    <script>
        $(function () {
            $(".js-select2").select2({
                tags: true
            })

        });
    </script>
}

