@using Microsoft.AspNet.Identity
@using NetworkTeknikServis.BLL.Identity
@using NetworkTeknikServis.MODELS.Enums
@model NetworkTeknikServis.MODELS.Entities.Fault
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@section top
{

    <!-- Page JS Plugins CSS -->
    <link rel="stylesheet" href="~/assets/js/plugins/datatables/jquery.dataTables.min.css" />

    <link href="~/assets/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="~/assets/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/assets/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    @*<link href="~/assets/css/main.css" rel="stylesheet" media="all">*@
    <link href="~/assets/css/main2.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jq-3.3.1/dt-1.10.18/af-2.3.2/b-1.5.4/b-colvis-1.5.4/b-flash-1.5.4/b-html5-1.5.4/b-print-1.5.4/cr-1.5.0/r-2.2.2/sc-1.5.0/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css" />
}

<div class="page-wrapper bg-gray p-t-100 p-b-100 font-robo" id="detaildiv">
    <div class="wrapper wrapper--w680">
        <div class="card card-1">
            <div class="card-body">
                <br />
                <h2 class="title">OMNet Memnuniyet Anketi</h2>
                @using (Html.BeginForm("ConfirmSurvey", "Survey", new { id = "frmAnket" }))
                {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("MusteriId", HttpContext.Current.User.Identity.GetUserId())
                        @Html.HiddenFor(x => x.FaultID)
                        <div class="input-group col-md-12">
                            <div class="rs-select2 js-select-simple select--no-search">
                                @Html.LabelFor(x => x.TeknisyenDavranisPuani)
                                @Html.EnumDropDownListFor(x => x.TeknisyenDavranisPuani, new { @class = "form-control", size = "1" })
                                <div class="select-dropdown"></div>
                            </div>
                        </div>

                        <div class="input-group col-md-12">
                            <div class="rs-select2 js-select-simple select--no-search">
                                @Html.LabelFor(x => x.TeknisyenBilgiPuani)
                                @Html.EnumDropDownListFor(x => x.TeknisyenBilgiPuani, new { @class = "form-control", size = "1" })
                                <div class="select-dropdown"></div>
                            </div>
                        </div>

                        <div class="input-group col-md-12">
                            <div class="rs-select2 js-select-simple select--no-search">
                                @Html.LabelFor(x => x.OMNetHizmetPuanı)
                                @Html.EnumDropDownListFor(x => x.OMNetHizmetPuanı, new { @class = "form-control", size = "1" })
                                <div class="select-dropdown"></div>
                            </div>
                        </div>

                        <div class="input-group col-md-12">
                            <div class="rs-select2 js-select-simple select--no-search">
                                @Html.LabelFor(x => x.OMNetHakkindakiGorusler)
                                @Html.EnumDropDownListFor(x => x.OMNetHakkindakiGorusler, new { @class = "form-control", size = "1" })
                                <div class="select-dropdown"></div>
                            </div>
                        </div>

                        <div class="input-group col-md-12">
                            <div class="rs-select2 js-select-simple select--no-search">
                                @Html.LabelFor(x => x.DavranisPuani)
                                @Html.EnumDropDownListFor(x => x.DavranisPuani, new { @class = "form-control", size = "1" })
                                <div class="select-dropdown"></div>
                            </div>
                        </div>

                        <div class="p-t-20 col-md-offset-9">
                            <button class="btn btn--radius btn--blue" type="submit">Gönder</button>
                        </div>
                }
            </div>
        </div>
    </div>
</div>

@section bottom
{

    <script src="~/assets/js/plugins/bootstrap-notify/bootstrap-notify.min.js"></script>

    <script src="~/assets/vendor/select2/select2.min.js"></script>
    <script src="~/assets/vendor/datepicker/moment.min.js"></script>
    <script src="~/assets/vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="~/assets/js/global.js"></script>

    @*<script>
            $("#frmAnket").submit(function (ev) {
                var soru1 = $("#soru1").val();
                var soru2 = $("#soru2").val();
                var soru3 = $("#soru3").val();
                var soru4 = $("#soru4").val();
                var soru5 = $("#soru5").val();
                var data = { TeknisyenBilgiPuani: soru1, TeknisyenDavranisPuani: soru2, DavranisPuani: soru3, OMNetHizmetPuanı: soru4, OMNetHakkindakiGorusler: soru5 };

                $.ajax({
                    url: "@Url.Action("ConfirmSurvey","Survey")",
                    method: "post",
                    dataType: "json",
                    data: data
                })
            });
        </script>*@

}
